.v1{
    background-image: url('./Images/hpHome.jpg');
    height: 637px;
    background-position: center center;
    background-size: cover;
}

.v1 h1{
    color: black;
    margin-left: 5%;
    padding-top: 32vh;
}

.v1 p{
    margin-left: 5%;
    justify-content: center;
}

.listBtn{
    display: inline-block;
    padding: 0.6em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 2em;
    border: 0.9px;
    box-sizing: 2em;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    transition: all 0.2s;
    cursor: pointer;
    margin-left: 5%;
}

.listBtn:hover{
    background-color: #524747;
}

.v2{
    background-color: #bdd0d6;
    text-align: center;
}

.v2Body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.v2 button{
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.15em solid #000000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    background-color: transparent;
    transition: all 0.2s;
    cursor: pointer;
}

.v2 button:hover{
    color: #ffffff;
    background-color: #000000;
}

.v3{
    background-color: #0c0c0c;
    color: white;
    text-align: center;
    width: 100%;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 130px 70px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    transition: 0.5s ease;
    cursor: pointer;
    margin: 30px;
    margin-top: -50px;
}

.card:hover{
    transform: scale(1.15);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.card_image1 {
    grid-area: image;
    background: url("./Images/1.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card_image2 {
    grid-area: image;
    background: url("./Images/2.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card_image3 {
    grid-area: image;
    background: url("./Images/3.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card_text {
    grid-area: text;
    margin: 25px;
}
.card_text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
}
.card_text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
}
.card_text h2 {
    margin-top:0px;
    font-size:28px;
}

.card_stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding:10px;
}

@media (max-width:370px){
    .v3{
        overflow-x: hidden;
    }
}
