.back{
    text-align: center;
}

.btn{
    display: inline-block;
    padding: 0.35em 2.6em;
    border: 0.15em solid #000000;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #000000;
    text-align: center;
    background-color: transparent;
    transition: all 0.2s;
    cursor: pointer;
}

.btn:hover{
    color: #ffffff;
    background-color: #000000;
}